@page "{productId}"
<!DOCTYPE html>
<html>
<head>
    <title>Edit product</title>
</head>
<body>
    <h1>Edit product #@this.RouteData.Values["productId"]</h1>
    <p>
        [
        <aa asp-page="Detail">Detail</aa>
        |
        <a asp-page="Index">Index</a>
        ]
    </p>
</body>
</html>