@page

<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
</head>
<body>
    <h1>Product List</h1>
    <ul>
        <li><aa asp-page="Detail" asp-route-productId="1">Product #1</aa></li>
        <li><aa asp-page="Detail" asp-route-productId="2">Product #2</aa></li>
        <li><aa asp-page="Detail" asp-route-productId="3">Product #3</aa></li>
        <li><aa asp-page="Detail" asp-route-productId="4">Product #4</aa></li>
        <li><aa asp-page="Detail" asp-route-productId="5">Product #5</aa></li>
        <li><aa asp-page="Detail" asp-route-productId="6">Product #6</aa></li>
        <li><aa asp-page="Detail" asp-route-productId="7">Product #7</aa></li>
        <li><aa asp-page="Detail" asp-route-productId="8">Product #8</aa></li>
        <li><aa asp-page="Detail" asp-route-productId="9">Product #9</aa></li>
    </ul>
</body>
</html>