@page
@model Altairis.TagHelpers.DemoApp.Pages.CalendarModel
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="~/Styles/calendar.css" />
</head>
<body>
    <calendar date-begin="new DateTime(2020,4,1)"
              date-end="new DateTime(2020,4,30)"
              events="this.Model.Events" selected-days="this.Model.SelectedDays"
              class="calendar"></calendar>
</body>
</html>