@page
@model Altairis.TagHelpers.DemoApp.Pages.CheckBoxListModel

<h2>CheckBoxListTagHelper</h2>

<form method="post">
    <fieldset>
        <legend>Default</legend>

        <checkbox-list asp-for="Input.CheckboxSelectedValues"
                       asp-items="Model.CheckboxListItems"
                       class="checkboxlist"></checkbox-list>
    </fieldset>
    <fieldset>
        <legend>RadioButtons</legend>

        <checkbox-list asp-for="Input.RadioSelectedValue"
                       asp-items="Model.RadioListItems"
                       class="checkboxlist"
                       control-type="RadioButton" />
    </fieldset>
    <fieldset>
        <legend>Values from enum</legend>

        <checkbox-list asp-for="Input.EnumSelectedValue"
                       asp-items="Html.GetEnumSelectList<DayOfWeek>()"
                       class="checkboxlist"
                       control-type="RadioButton"></checkbox-list>
    </fieldset>
    <p>@Model.Message</p>
    <p>
        <input type="submit" value="Submit" />
    </p>
</form>


@section Head {
    <style type="text/css">
        ul.checkboxlist {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
    </style>
}