@page
<ul>
    <li><a asp-page="General">General tag helpers</a></li>
    <li><a asp-page="Calendar">CalendarTagHelper</a></li>
    <li><a asp-page="CheckBoxList">CheckBoxListTagHelper</a></li>
    <li><a asp-page="Products/Index">AmbientAnchorTagHelper</a></li>
    <li><a asp-page="Editor">EditorTagHelper</a></li>
</ul>