@page
<ul>
    <li><a asp-page="General">General tag helpers</a></li>
    <li><a asp-page="Calendar">Calendar</a></li>
    <li><a asp-page="CheckBoxList">CheckBoxList</a></li>
    <li><a asp-page="Products/Index">Ambient Anchor tag helper</a></li>
</ul>