$BgColor: #fff;
$FgColor: #000;
$TodayAccentColor: #c00;
$SelectedAccentColor: #c90;
$Border: 1px solid $FgColor;
$Padding: 1ex;

// Calendar styling
.calendar {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: $Border;
    background-color: $BgColor;

    // Day names
    > header {
        display: flex;
        flex-direction: row;

        > div {
            flex: 1;
            border: $Border;
            text-align: center;
            padding: $Padding;
        }
    }

    section.week {
        display: flex;
        flex-direction: row;

        // Single day
        > article {
            flex: 1;
            border: $Border;
            min-height: 10em;

            header {
                margin: $Padding / 2;
                padding: $Padding;
                text-align: right;
            }

            &.today {
                header {
                    color: $TodayAccentColor;
                    font-weight: bold;
                }
            }

            &.selected {
                header {
                    color: $SelectedAccentColor;
                    font-weight: bold;
                }
            }

            &.extra {
                opacity: .5;
            }

            &.weekend {
                background-color: rgba($FgColor, .1);
            }
            // List of events
            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;

                li {
                    display: block;
                    margin: $Padding / 4;
                    padding: $Padding / 2;
                    border: 1px dashed rgba($FgColor, .25);

                    &.full-day {
                        border-style: solid;
                    }

                    time {
                        font-size: 80%;

                        &.begin::after {
                            content: '\2026';
                        }

                        &.end::before {
                            content: '\2026'
                        }
                    }

                    span.middle::before {
                        content: '\2026\2026';
                    }

                    a, span {
                        display: block;
                    }
                }
            }
        }
    }
}

// Additional CSS classes for events
.red {
    background-color: #900;
    color: #fff;
}

.blue {
    background-color: #009;
    color: #fff;
}
