html {
  background-color: #ccc;
  color: #000;
}
html body {
  max-width: 900px;
  margin: 1em auto;
  background-color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html body > header {
  padding: 1em;
  background-color: #000;
  color: #fff;
}
html body > header a {
  color: #fff !important;
  text-decoration: none;
}
html body > header a:hover, html body > header a:active {
  text-decoration: underline;
}
html body > header h1 {
  margin: 0;
}
html body > main {
  padding: 1em;
}
html body > footer {
  padding: 1em;
  background-color: #666;
  color: #fff;
  font-size: 80%;
}
html body > footer a {
  color: #fff !important;
  text-decoration: none;
}
html body > footer a:hover, html body > footer a:active {
  text-decoration: underline;
}

a:link {
  color: #03f;
}
a:visited {
  color: #039;
}
a:hover, a:active {
  color: #c00;
}

h2 {
  background-color: #ddd;
  padding: 1ex;
}

input[type=submit] {
  padding: 1ex 3em;
}
